### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "C:/Users/Jenni/UNCCDABC/Homeworks/pandas-challenge/HeroesOfPymoli/HeroesOfPymoli_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)
purchase_data_pd.head() # DELETE THIS LINE BEFORE SUBMITTING TO BOOT CAMP

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_players = purchase_data_pd["SN"].nunique()
total_players_df = pd.DataFrame({"Total Players": [unique_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Get number of unique items
purchasing_items = len(purchase_data_pd["Item ID"].unique())

# Get average price of items
average_price_items = purchase_data_pd["Price"].mean()

# Total number of purchases
total_revenue = purchase_data_pd["Item ID"].count()
total_revenue # MAYBE i DON'T NEED THIS VARIABLE

# Get total revenue
purchase_data_pd["Price"].sum()

# Save and display summary data frame
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [purchasing_items],
                                      "Average Price": average_price_items,
                                      "Number of Purchases": [total_revenue],
                                       "Total Revenue": purchase_data_pd["Price"].sum()})
purchasing_analysis_df.style.format({'Average Price':"${:.2f}", 
                                    "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Get gender groups from data
gender_groups = purchase_data_pd.groupby(["Gender"])

# Total number of unique players
total_gender_groups = gender_groups.nunique()["SN"]

# Get percentage of players
percentage_of_players = (total_gender_groups / unique_players)

# Print a summary of the Gender Demographics
gender_demographics = pd.DataFrame({"Total Count" : total_gender_groups,
                                    "Percentage of Players": percentage_of_players},
                                   index=["Male", "Female", "Other / Non-Disclosed"])
gender_demographics.style.format({'Percentage of Players':"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Using series gender_groups from Gender Demographics section

# Total items purchases by gender
purchase_count = gender_groups.count()['Purchase ID']

# Get total purchase value
total_purchase = gender_groups.sum()['Price']

# Get average purchase price by gender
average_price = total_purchase / purchase_count

# Get average purchase per person
avg_total_purchase_person = total_purchase / total_gender_groups

# DIsplay the summary data frame "Purchasing Analysis (Gender)"
purchasing_by_gender_df = pd.DataFrame({"Purchase Count": purchase_count,
                                        "Average Purchase Price" : average_price,
                                        "Total Purchase Value": total_purchase,
                                       "Avg Total Purchase per Person": avg_total_purchase_person})
purchasing_by_gender_df.style.format({"Average Purchase Price":"${:.2f}",
                                      "Avg Total Purchase per Person":"${:.2f}",
                                      "Total Purchase Value": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
# Create bins in which to place values based upon the age in the data.
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

# Create labels for these bins
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]

# Place the dara series into a new column inside of the DataFrame
purchase_data_pd["Age Group"] = pd.cut(purchase_data_pd["Age"], age_bins,
                                      labels=age_labels)

# Create a GroupBy object based upon "Age Group"
# Categorize the existing players using the age bins
age_group = purchase_data_pd.groupby("Age Group")
total_count_age = age_group.nunique()["SN"]

# Get percentage of players by age group
pct_players_age = total_count_age / unique_players

# Summary talbe for Age Demographics
age_demographics_df = pd.DataFrame({"Total Count": total_count,
                                   "Percentage of Players": pct_players_age})
age_demographics_df.style.format({'Percentage of Players':"{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
# Using series age_group from Age Demographics section.

# Total items purchases by gender
purchase_count_age = age_group.count()['Purchase ID']

# Get total purchase value
total_purchase_age = age_group.sum()['Price']

# Get average purchase price by age group
average_price_person = total_purchase_age / purchase_count_age

# Get average purchase per person
avg_total_purchase_person = total_purchase_age / total_count_age

# Display the summary data frame "Purchasing Analysis (Age)"
purchasing_by_age_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                        "Average Purchase Price" : average_price_person,
                                        "Total Purchase Value": total_purchase_age,
                                       "Avg Total Purchase per Person": avg_total_purchase_person})
purchasing_by_age_df.style.format({"Average Purchase Price":"${:.2f}",
                                      "Avg Total Purchase per Person":"${:.2f}",
                                      "Total Purchase Value": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
# Create a groupby based upon "SN"
sn_groups = purchase_data_pd.groupby(["SN"])

# Total number of unique players
total_gender_groups = gender_groups.nunique()["SN"]

# Total items purchases by gender
purchase_count_sn = sn_groups.count()['Purchase ID']

# Get total purchase value
total_purchase_sn = sn_groups.sum()['Price']

# Get average purchase price by age group
average_purchase_price = total_purchase_sn / purchase_count_sn

# Create a DataFrame based upon "SN"
purchasing_by_sn_df = pd.DataFrame({"Purchase Count": purchase_count_sn,
                                        "Average Purchase Price" : average_purchase_price,
                                        "Total Purchase Value": total_purchase_sn})

# Display the summary data frame "Top Spenders"
top_spenders = purchasing_by_sn_df.sort_values(["Total Purchase Value"], ascending=False)
top_spenders.head().style.format({"Average Purchase Price":"${:.2f}",
                                      "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame